*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.add-noteBtn{
    position: relative;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 1.5vw;
    font-family:'Bitter', sans-serif;
    padding: 5px 10px;
    border: none;
    /* background-color:transparent; */
    /* background-color:#3898ec; */
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: black;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.add-noteBtn:hover{
    transform: scale(1.1);
    border: 1px solid #3898ec;
}