*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn-dropdown{
    position: relative;
    display: flex;
}
.arrowBtn{
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: white;
    border: none;
    color: black;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
}
.btn-dropdown.dark{
    background-color: black;
}
.arrowBtn.dark{
    color: white;
    background-color: black;
}
.arrowBtn:hover{
    transform: scale(1.1);
    border: 1px solid #3898ec;
}
.dropInfo{
    width: 200px;
    height: 80px;
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translateX(50%);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.dropInfo > li{
    font-family:'Bitter', sans-serif;
    font-size: 1.5rem;;
    list-style: none;
    padding: 5px;
    height: 50%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.dropInfo > li:hover{
    border: 1px solid #3898ec;
    cursor: pointer;
}
.dropInfo{
    visibility: hidden;
}
.dropInfo.active{
    visibility: visible;
    background-color: white;
}


@media screen and (max-width: 480px) {
    .dropInfo.active{
        width: 100px;
        height: 60px;
        z-index: 100;
    }
    .dropInfo > li{
        font-size: 0.7rem;
        font-weight: bold;
        outline: none;
    }
}
