*{
    box-sizing: border-box;
    margin: 0;
}
/* html{
    background-color: red;
} */
.background{
    background-color: white;
    /* background-color: black; */
    height: 100vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.move-up{
   justify-content: start;
}



/* phone portrait */
@media screen and (max-width: 500px) {
    .background{
    }
}
/* tablet portrait */
@media screen and (min-width: 501px) and (max-width: 999px){
    .background{
        height: 100vh;
        overflow: hidden;
    }
}
@media screen and (min-width: 1000px) {
    .background{
        height: 100vh;
        overflow: hidden;
    }
}
